<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Thebooqs</title>
  <link rel="stylesheet" href="/css/beta.css">

</head>

<body>
  <h1>thebooqs<br><span id="redirect">Coming soon</span></h1>

</body>

</html>