<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Books OF 2020</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- <link rel="stylesheet" type="text/css" href="Fonts/Albertsthal Typewriter.ttf"> -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap&family=Courgette&display=swap&family=Satisfy&display=swap&family=Dancing+Script:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caladea:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet"> -->
</head>

<body>


    <!-- NavBar -->
    <div class="jumbotron" id="nav-head" style="padding-top: 1%;  background-color: #020205;">
        <div class="header" style="background-color: #000000; color: #ffffff;">
            <span>
                <!-- <b id="omega-nav">Omega</b> --><img src="Group 44.png" style="height: 5%; width: 10%;"><!-- <i
                    class="fas fa-search" id="search-icon" style="user-select: auto;"></i> --></span>
        </div>
    </div>




   <!-- ImageGrid -->
<div class="jumbotron" id="image-grid" style="text-align: center;">

  <!-- To apply this. then active #image-grid{ padding-left=9%; } and .colum{..} and .row::after{..} from sticker.css file -->
  <div class="row">
    <div class="column" id="grid-11">
      <img id="img1" src="https://pyxis.nymag.com/v1/imgs/940/8df/7a44820c488e192ed60f9022a15c2b672b-the-only-good-indians-jones.rdeep-vertical.w245.jpg" alt="Snow">
    </div>
    <div class="column" id="grid-12">
      <img id="img1" src="https://pyxis.nymag.com/v1/imgs/dd6/447/36a7f270375aa6332ca6db99bdccc74950-the-lightness-temple.rdeep-vertical.w245.jpg" alt="Forest">
    </div>
    <div class="column" id="grid-13">
      <img id="img1" src="https://pyxis.nymag.com/v1/imgs/51d/c93/6352c31455d248b75c30dbe8c9b8fbe123-mexican-gothic-moreno-garcia.rdeep-vertical.w245.jpg" alt="Mountains">
    </div>
  </div><br><br><br>
  <div class="row">
    <div class="column" id="grid-21">
      <img id="img1" src="https://pyxis.nymag.com/v1/imgs/a31/ba9/17f7de9e48494380a3c1709e19963222d4-luster-leilani.rdeep-vertical.w245.jpg" alt="Snow">
    </div>
    <div class="column" id="grid-22">
      <img id="img1" src="https://pyxis.nymag.com/v1/imgs/110/c5d/f4a17ad810eb80011e22c44e14ba683e33-the-pull-of-the-stars-donoghue.rdeep-vertical.w245.jpg" alt="Forest">
    </div>
    <div class="column" id="grid-23">
      <img id="img1" src="https://pyxis.nymag.com/v1/imgs/79f/0ac/dc38fffb7c0c1653eec167ab69c045e472-self-care-stein.rdeep-vertical.w245.jpg" alt="Mountains">
    </div>
  </div>

</div>


    <!-- Nav -->

    <div id="navbar">
        <span><img src="Group 43.png" style="height: 2%; width: 5%; float: left; margin: 0px 40px;">
            <a href="#direction"><button id="signin" style="float: right;">Subscribe</button></a></span>
    </div>



    <div class="jumbotron">
        <div class="jumbotron" id="blog-intro">
            <div class="container-2" style="font-size: 40px;">The Books of 2020
                <p style="font-size: 18px;">by bookslord.com</p>
            </div>
        </div><br>
        <div class="container-2" style="font-size: 35px; font-family: 'Open Sans Condensed', sans-serif; padding: 1%">
            BlogIntro
            <p style="font-size: 18px; font-family: 'Open Sans Condensed', sans-serif; letter-spacing: 1px;">In a world
                of
                instability, the steady churn of new books from brilliant authors remains one of the few things we can
                count on.
                As we move into the summer, typically a high point of the year for the publishing industry, the slate of
                new
                releases looks a bit different than it did a few months ago. But while a few dates have been pushed
                back, the
                book business remains one of the few able to march ahead. For those of us who proclaimed in an earlier
                life that
                we’d be avid readers if we just had more time at home, this is the moment. From essential new fiction by
                N. K.
                Jemisin and Curtis Sittenfeld to much-awaited sophomore titles by Morgan Jerkins and Stephanie Danler,
                there's
                something for everyone. Read on. —Adrienne Gaffney</p>
        </div>
    </div><br><br>
        <!-- <hr class="mob-about style-eight"> -->
       <br>

   <!--  <section class="mob-about" style="text-align: center; float: left;">
            <span class="counting-rank"> 1 </span>
        </section> -->
    <!--Book and Author Nane!-->
    <div class="container-2" id="post">
        <div class="about">
            <div class="jumbotron" id="postTop">
                <span id="ranking">1</span>
                <span id="bookname">The Only Good Indians</span><br><span id="authorname">by Stephen Graham Jones</span>
            </div>
           
        </div>


        <!--Cover Image!-->
        <div class="mob-about" style="background-color: #e6e6e6">
            <h1 style="margin: 0px 25px 0px 25px; color: #000000; font-family: 'Cinzel', serif;">#1
            <span style="float: right;">
                <i class="far fa-heart" style="font-size: 25px;"></i><!-- <i class="far fa-comment-alt"style="font-size: 25px; margin-left: 10px;"></i> -->
                <i class="far fa-share"style="font-size: 25px; margin-left: 10px;"></i>
            </span>
            </h1>
        </div>


        <div style="margin: 0px 25px 0px 25px;">
            <br>
            <div class="media">
                
                <div class="container" id="sticker">
                    <img id="book-cover"
                        src="https://pyxis.nymag.com/v1/imgs/940/8df/7a44820c488e192ed60f9022a15c2b672b-the-only-good-indians-jones.rdeep-vertical.w245.jpg"
                        class="align-self-start mr-3" alt="..." style="box-shadow: 1px 7px 19px 0px #9a9a9a;"><br><br>
                    <span id="rating-1">
                        <img id="sticker" src="Group -4.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <span id="rating-2">
                        <img id="sticker" src="Group -3.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <span id="rating-3">
                        <img id="sticker" src="Group -2.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <p id="rating-name" style="margin-top: 10px;">Rating <span style="margin-left: 45px;">Rating</span>
                        <span style="margin-left: 45px;">Rating</span></p>

                </div>

                <!-- Mobile Responsive -->

                <div class="mob-about" style="padding-left: 10px;">
                    <h1 class="display-1">
                        <span id="bookname"> The Only Good Indians</span>
                        <p id="author" style="padding-top: 5%;"> by Stephen Graham Jones </p>

                    </h1><br>
                    <p style="padding-bottom: 8%;">
                        <span id="amazon" style="margin-top: 0px;">amazon</span>
                        <span id="book-price">$18</span>
                    </p>
                    <span id="rating-01">
                        <img id="rating-img" src="Group -4.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem;">
                    </span>
                    <span id="rating-02">
                        <img id="rating-img" src="Group -3.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem; margin-left: 18px;">
                    </span>
                    <span id="rating-03">
                        <img id="rating-img" src="Group -2.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem; margin-left: 12px;">
                    </span>
                    <p id="ratingname" style="margin-top: 0px;">Rating <span style="margin-left: 18px;">Rating</span>
                        <span style="margin-left: 15px;">Rating</span></p>
                </div>

                <div class="media-body">

                    <!--Review!-->

                    <p>

                        <div class="jumbotron">
                            <p>
                                <span id="quotation">“</spam>
                                    <span id="quote">Lorem ipsum dolor sit amet</span>
                                    <span id="quotation">”</spam>
                            </p>
                        </div>
                        <span id="review">We live in horrifying times, so why not give in and read one of the most
                            eagerly
                            anticipated horror novels of the year? Stephen Graham Jones is a Blackfeet Native American
                            author and his
                            20th (or so) book follows four childhood friends from the Blackfeet Nation who grew up and
                            moved away,
                            only to find themselves, a decade later, tracked by an entity bent on revenge, and forced to
                            reckon with
                            an act of youthful violence.</span>
                    </p>
                    <br>
                    <p id="amazon">amazon</p>
                    <h1 id="book-price">$18</h1>
                    <button class="btn success"><b>Buy Now</b></button>
                    <button class="btn pdf"><b>PDF</b></button>
                    
                </div>
            </div>


            <!-- mobile review -->
            <div class="mob-about">
                <p>

                    <div class="jumbotron" style="text-align: center;">
                        <p>
                            <span id="quote-mark">“</spam>
                                <span id="quotes">Lorem ipsum dolor sit amet</span>
                                <span id="quote-mark">”</spam>
                        </p>
                    </div><br>
                    <p id="review-mob">We live in horrifying times, so why not give in and read one of the most eagerly
                        anticipated horror novels of the year? Stephen Graham Jones is a Blackfeet Native American
                        author and his
                        20th </p>

                    <!-- <p id="amazon" style="margin-top: 5px; text-align: center;">amazon</p>
        <h1 id="book-price" style="text-align: center;">$18</h1> --><br>
                    <div style="text-align: center;">
                        <button class="btn success"><b>Buy Now</b></button>
                        <button class="btn pdf"><b>PDF</b></button>
                    </div><br>
            </div>



        </div>
        <!-- <br> --><!-- <hr id="hr"> -->
        <div class="jumbotron" id="like">
                <i class="far fa-heart" style="font-size: 25px;"></i><!-- <i class="far fa-comment-alt"style="font-size: 25px; margin-left: 10px;"> --></i><i class="far fa-share"style="font-size: 25px; margin-left: 10px;"></i>
        </div>
    </div><br>
    <br><br id="linebreak"><br id="linebreak"><br id="linebreak"> <br>

        
        <!-- <hr class="mob-about style-eight"> -->
       <br>
       
    <!--Book and Author Nane!-->
        <div class="container-2" id="post">
            <div class="about">
                <div class="jumbotron" id="postTop">
                    <span id="ranking">2</span>
                    <span id="bookname"> The Lightness </span><br><span id="authorname"> by Emily Temple </span>
                </div>
            </div>

        <!--Cover Image!-->
        <div class="mob-about" style="background-color: #e6e6e6">
            <h1 style="margin: 0px 25px 0px 25px; color: #000000; font-family: 'Cinzel', serif;">#2
            <span style="float: right;">
                <i class="far fa-heart" style="font-size: 25px;"></i><!-- <i class="far fa-comment-alt"style="font-size: 25px; margin-left: 10px;"></i> -->
                <i class="far fa-share"style="font-size: 25px; margin-left: 10px;"></i>
            </span>
            </h1>
        </div>

        <div style="padding-left: 4%; padding-right: 4%;"><br>
            <div class="media">
                <div class="container" id="sticker">
                    <img id="book-cover"
                        src="https://pyxis.nymag.com/v1/imgs/dd6/447/36a7f270375aa6332ca6db99bdccc74950-the-lightness-temple.rdeep-vertical.w245.jpg"
                        class="align-self-start mr-3" alt="..." style="box-shadow: 1px 7px 19px 0px #9a9a9a;"><br><br>
                    <span id="rating-1">
                        <img id="sticker" src="Group -4.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <span id="rating-2">
                        <img id="sticker" src="Group -3.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <span id="rating-3">
                        <img id="sticker" src="Group -2.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <p id="rating-name" style="margin-top: 10px;">Rating <span style="margin-left: 45px;">Rating</span>
                        <span style="margin-left: 45px;">Rating</span></p>
                </div>

                 <!-- Mobile Responsive -->

                <div class="mob-about" style="padding-left: 10px;">
                    <h1 class="display-1">
                        <span id="bookname"> The Lightness </span>
                        <p id="author" style="padding-top: 5%;"> by Emily Temple </p>

                    </h1><br>
                    <p style="padding-bottom: 8%;">
                        <span id="amazon" style="margin-top: 0px;">amazon</span>
                        <span id="book-price">$27</span>
                    </p>
                    <span id="rating-01">
                        <img id="rating-img" src="Group -4.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem;">
                    </span>
                    <span id="rating-02">
                        <img id="rating-img" src="Group -3.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem; margin-left: 18px;">
                    </span>
                    <span id="rating-03">
                        <img id="rating-img" src="Group -2.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem; margin-left: 12px;">
                    </span>
                    <p id="ratingname" style="margin-top: 0px;">Rating <span style="margin-left: 18px;">Rating</span>
                        <span style="margin-left: 15px;">Rating</span></p>
                </div>

                <div class="media-body">

                    <!--Review!-->

                    <p>
                        <div class="jumbotron" id="book-quote">
                            <p>
                                <span id="quotation">“</spam>
                                    <span id="quote">Lorem ipsum dolor sit amet</span>
                                    <span id="quotation">”</spam>
                            </p>
                        </div>
                        <span id="review">The comparisons tossed around for Emily Temple’s debut could hardly be more
                            tantalizing.
                            Chloe Benjamin called it “the love child of Donna Tartt and Tana French.” Others have
                            compared Temple to
                            Ottessa Moshfegh and Emma Cline. The story follows a 16-year-old girl whose father has
                            disappeared, and
                            her
                            efforts to trace him to a strange meditation retreat in the mountains where the leaders
                            promise to teach
                            the
                            art of levitation.</span>
                    </p>
                    <br>
                    <p id="amazon">amazon</p>
                    <h1 id="book-price">$27</h1>
                    <div>
                        <button class="btn success"><b>Buy Now</b></button>
                        <button class="btn pdf"><b>PDF</b></button>
                    </div>
                </div>
            </div>

             <!-- mobile review -->
            <div class="mob-about">
                <p>
                    <br>
                    <div class="jumbotron" style="text-align: center;">
                        <p>
                            <span id="quote-mark">“</spam>
                                <span id="quotes">Lorem ipsum dolor sit amet</span>
                                <span id="quote-mark">”</spam>
                        </p>
                    </div><br>
                    <p id="review-mob">The comparisons tossed around for Emily Temple’s debut could hardly be more tantalizing. Chloe Benjamin called it “the love child of Donna Tartt and Tana French.” Others have compared Temple to Ottessa Moshfegh and Emma Cline. The story follows a 16-year-old girl whose father has disappeared, and her efforts to trace him to a strange meditation retreat in the mountains where the leaders promise to teach the art of levitation. </p><br>
                    <div style="text-align: center;">
                        <button class="btn success"><b>Buy Now</b></button>
                        <button class="btn pdf"><b>PDF</b></button>
                    </div><br>
            </div>
        <!-- <br> --><!-- <hr id="hr"> -->
            <div class="jumbotron" id="like">
                <i class="far fa-heart" style="font-size: 25px;"></i><!-- <i class="far fa-comment-alt"style="font-size: 25px; margin-left: 10px;"> --></i><i class="far fa-share"style="font-size: 25px; margin-left: 10px;"></i>
            </div>
        </div>
    </div><br>
    <br><br id="linebreak"><br id="linebreak"><br id="linebreak"> <br>

        
        <!-- <hr class="mob-about style-eight"> -->
       <br>
       <!-- <section class="mob-about" style="text-align: center; float: left;">
            <span class="counting-rank"> 3 </span>
        </section> -->
    <!--Book and Author Nane!-->
        <div class="container-2" id="post">
            <div class="about">
                <div class="jumbotron" id="postTop">
                    <span id="ranking">3</span>
                    <span id="bookname"> Mexican Gothic </span><br><span id="authorname"> by Silvia Moreno-Garcia </span>
                </div>
            </div>

        <!--Cover Image!-->
        <div class="mob-about" style="background-color: #e6e6e6">
            <h1 style="margin: 0px 25px 0px 25px; color: #000000; font-family: 'Cinzel', serif;">#3
            <span style="float: right;">
                <i class="far fa-heart" style="font-size: 25px;"></i><!-- <i class="far fa-comment-alt"style="font-size: 25px; margin-left: 10px;"></i> -->
                <i class="far fa-share"style="font-size: 25px; margin-left: 10px;"></i>
            </span>
            </h1>
        </div>

        <div style="padding-left: 4%; padding-right: 4%;"><br>
            <div class="media">
                <div id="sticker">
                    <img id="book-cover"
                        src="https://pyxis.nymag.com/v1/imgs/51d/c93/6352c31455d248b75c30dbe8c9b8fbe123-mexican-gothic-moreno-garcia.rdeep-vertical.w245.jpg"
                        class="align-self-start mr-3" alt="..." style="box-shadow: 1px 7px 19px 0px #9a9a9a;"><br><br>
                    <span id="rating-1">
                        <img id="sticker" src="Group -4.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <span id="rating-2">
                        <img id="sticker" src="Group -3.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <span id="rating-3">
                        <img id="sticker" src="Group -2.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <p id="rating-name" style="margin-top: 10px;">Rating <span style="margin-left: 45px;">Rating</span>
                        <span style="margin-left: 45px;">Rating</span></p>
                </div>

                 <!-- Mobile Responsive -->

                <div class="mob-about" style="padding-left: 10px;">
                    <h1 class="display-1">
                        <span id="bookname"> Mexican Gothic </span>
                        <p id="author" style="padding-top: 5%;"> by Silvia Moreno-Garcia </p>

                    </h1><br>
                    <p style="padding-bottom: 8%;">
                        <span id="amazon" style="margin-top: 0px;">amazon</span>
                        <span id="book-price">$24</span>
                    </p>
                    <span id="rating-01">
                        <img id="rating-img" src="Group -4.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem;">
                    </span>
                    <span id="rating-02">
                        <img id="rating-img" src="Group -3.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem; margin-left: 18px;">
                    </span>
                    <span id="rating-03">
                        <img id="rating-img" src="Group -2.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem; margin-left: 12px;">
                    </span>
                    <p id="ratingname" style="margin-top: 0px;">Rating <span style="margin-left: 18px;">Rating</span>
                        <span style="margin-left: 15px;">Rating</span></p>
                </div>
                <div class="media-body">

                    <!--Review!-->

                    <p>
                        <div class="jumbotron" id="book-quote">
                            <p>
                                <span id="quotation">“</spam>
                                    <span id="quote">Lorem ipsum dolor sit amet</span>
                                    <span id="quotation">”</spam>
                            </p>
                        </div>
                        <spam id="review">Picture the spooky Victorian mansion where a Bronte heroine or a Sarah Waters
                            character
                            used
                            to live, and transport it to a remote mountainside in Mexico in 1950, and you have Mexican
                            Gothic. Silvia
                            Moreno-Garcia’s twisty new horror novel follows vibrant heroine Noemi Taboada who leaves her
                            life as a
                            debutante to check on her newly married cousin, Catalina, who has been sending some alarming
                            letters home.
                            Catalina has married into a creepy old English family who once ran a silver mine in the
                            neighboring
                            village,
                            and who now live an isolated existence in High Place, a dark and dreary estate that lacks
                            electricity but
                            has an appropriately misty graveyard. Is Catalina being poisoned or haunted by ghosts or has
                            she simply
                            gone
                            mad from living at High Place or all of the above? Moreno-Garcia puts a new spin on a
                            pleasantly familiar
                            trope as Noemi learns more about her cousin’s eugenics-obsessed in-laws and their dark
                            secrets.</spam>
                    </p><br>
                    <p id="amazon">amazon</p>
                    <h1 id="book-price">$24</h1>
                    <div>
                        <button class="btn success"><b>Buy Now</b></button>
                        <button class="btn pdf"><b>PDF</b></button>
                    </div>
                </div>
            </div>

             <!-- mobile review -->
            <div class="mob-about">
                <p>
                    <br>
                    <div class="jumbotron" style="text-align: center;">
                        <p>
                            <span id="quote-mark">“</spam>
                                <span id="quotes">Lorem ipsum dolor sit amet</span>
                                <span id="quote-mark">”</spam>
                        </p>
                    </div><br>
                    <p id="review-mob">The comparisons tossed around for Emily Temple’s debut could hardly be more tantalizing. Chloe Benjamin called it “the love child of Donna Tartt and Tana French.” Others have compared Temple to Ottessa Moshfegh and Emma Cline. The story follows a 16-year-old girl whose father has disappeared, and her efforts to trace him to a strange meditation retreat in the mountains where the leaders promise to teach the art of levitation. </p><br>
                    <div style="text-align: center;">
                        <button class="btn success"><b>Buy Now</b></button>
                        <button class="btn pdf"><b>PDF</b></button>
                    </div><br>
            </div>
        <!-- <br> --><!-- <hr id="hr"> -->
            <div class="jumbotron" id="like">
                <i class="far fa-heart" style="font-size: 25px;"></i><!-- <i class="far fa-comment-alt"style="font-size: 25px; margin-left: 10px;"> --></i><i class="far fa-share"style="font-size: 25px; margin-left: 10px;"></i>
            </div>
        </div>
    </div><br>
    <br><br id="linebreak"><br id="linebreak"><br id="linebreak"> <br>

        
        <!-- <hr class="mob-about style-eight"> -->
       <br>

        
        <!-- <section class="mob-about" style="text-align: center; float: left;">
            <span class="counting-rank"> 4 </span>
        </section> -->
    <!--Book and Author Nane!-->
        <div class="container-2" id="post">
            <div class="about">
                <div class="jumbotron" id="postTop">
                    <span id="ranking">4</span>
                    <span id="bookname"> Luster </span><br><span id="authorname"> by Raven Leilani </span>
                </div>
            </div>

        <!--Cover Image!-->
        <div class="mob-about" style="background-color: #e6e6e6">
            <h1 style="margin: 0px 25px 0px 25px; color: #000000; font-family: 'Cinzel', serif;">#4
            <span style="float: right;">
                <i class="far fa-heart" style="font-size: 25px;"></i><!-- <i class="far fa-comment-alt"style="font-size: 25px; margin-left: 10px;"></i> -->
                <i class="far fa-share"style="font-size: 25px; margin-left: 10px;"></i>
            </span>
            </h1>
        </div>

        <div style="padding-left: 4%; padding-right: 4%;"><br>
            <div class="media">
                <div id="sticker">
                    <img id="book-cover"
                        src="https://pyxis.nymag.com/v1/imgs/a31/ba9/17f7de9e48494380a3c1709e19963222d4-luster-leilani.rdeep-vertical.w245.jpg"
                        class="align-self-start mr-3" alt="..." style="box-shadow: 1px 7px 19px 0px #9a9a9a;"><br><br>
                    <span id="rating-1">
                        <img id="sticker" src="Group -4.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <span id="rating-2">
                        <img id="sticker" src="Group -3.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <span id="rating-3">
                        <img id="sticker" src="Group -2.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <p id="rating-name" style="margin-top: 10px;">Rating <span style="margin-left: 45px;">Rating</span>
                        <span style="margin-left: 45px;">Rating</span></p>
                </div>

                <!-- Mobile Responsive -->

                <div class="mob-about" style="padding-left: 10px;">
                    <h1 class="display-1">
                        <span id="bookname">Luster </span>
                        <p id="author" style="padding-top: 5%;"> by Raven Leilani </p>

                    </h1><br>
                    <p style="padding-bottom: 8%;">
                        <span id="amazon" style="margin-top: 0px;">amazon</span>
                        <span id="book-price">$26</span>
                    </p>
                    <span id="rating-01">
                        <img id="rating-img" src="Group -4.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem;">
                    </span>
                    <span id="rating-02">
                        <img id="rating-img" src="Group -3.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem; margin-left: 18px;">
                    </span>
                    <span id="rating-03">
                        <img id="rating-img" src="Group -2.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem; margin-left: 12px;">
                    </span>
                    <p id="ratingname" style="margin-top: 0px;">Rating <span style="margin-left: 18px;">Rating</span>
                        <span style="margin-left: 15px;">Rating</span></p>
                </div>

                <div class="media-body">

                    <!--Review!-->

                    <p>
                        <div class="jumbotron" id="book-quote">
                            <p>
                                <span id="quotation">“</spam>
                                    <span id="quote">Lorem ipsum dolor sit amet</span>
                                    <span id="quotation">”</spam>
                            </p>
                        </div>
                        <spam id="review">In this debut novel from Raven Leilani, set between Bushwick and suburban
                            Jersey, Edie, a
                            sexually precocious publishing staffer, meets and falls in …. something with Eric, a married
                            man swiping
                            through apps on a lark. What stands out here is Leilani’s prose (“I think to myself, You are
                            a desirable
                            woman. You are not a dozen gerbils in a skin casing.”), which is breathless, frantic, and
                            reads like a
                            Twitter wit grew legs and an IRL identity.</spam>
                    </p><br>
                    <p id="amazon">amazon</p>
                    <h1 id="book-price">$26</h1>
                    <div>
                        <button class="btn success"><b>Buy Now</b></button>
                        <button class="btn pdf"><b>PDF</b></button>
                    </div>
                </div>
            </div>
             <!-- mobile review -->
            <div class="mob-about">
                <p>
                    <br>
                    <div class="jumbotron" style="text-align: center;">
                        <p>
                            <span id="quote-mark">“</spam>
                                <span id="quotes">Lorem ipsum dolor sit amet</span>
                                <span id="quote-mark">”</spam>
                        </p>
                    </div><br>
                    <p id="review-mob">The comparisons tossed around for Emily Temple’s debut could hardly be more tantalizing. Chloe Benjamin called it “the love child of Donna Tartt and Tana French.” Others have compared Temple to Ottessa Moshfegh and Emma Cline. The story follows a 16-year-old girl whose father has disappeared, and her efforts to trace him to a strange meditation retreat in the mountains where the leaders promise to teach the art of levitation. </p><br>
                    <div style="text-align: center;">
                        <button class="btn success"><b>Buy Now</b></button>
                        <button class="btn pdf"><b>PDF</b></button>
                    </div><br>
            </div>
        <!-- <br> --><!-- <hr id="hr"> -->
            <div class="jumbotron" id="like">
                <i class="far fa-heart" style="font-size: 25px;"></i><!-- <i class="far fa-comment-alt"style="font-size: 25px; margin-left: 10px;"> --></i><i class="far fa-share"style="font-size: 25px; margin-left: 10px;"></i>
            </div>
        </div>
    </div><br>
   <br><br id="linebreak"><br id="linebreak"><br id="linebreak"> <br>

        
       <!--  <hr class="mob-about style-eight"> -->
       <br>
        <!-- <section class="mob-about" style="text-align: center; float: left;">
            <span class="counting-rank"> 5 </span>
        </section> -->
    <!--Book and Author Nane!-->
        <div class="container-2" id="post">
            <div class="about">
                <div class="jumbotron" id="postTop">
                    <span id="ranking">5</span>
                    <span id="bookname"> The Pull of the Stars </span><br><span id="authorname"> by Emma Donoghue </span>
                </div>
            </div>

        <!--Cover Image!-->
        <div class="mob-about" style="background-color: #e6e6e6">
            <h1 style="margin: 0px 25px 0px 25px; color: #000000; font-family: 'Cinzel', serif;">#5
            <span style="float: right;">
                <i class="far fa-heart" style="font-size: 25px;"></i><!-- <i class="far fa-comment-alt"style="font-size: 25px; margin-left: 10px;"></i> -->
                <i class="far fa-share"style="font-size: 25px; margin-left: 10px;"></i>
            </span>
            </h1>
        </div>

        <div style="padding-left: 4%; padding-right: 4%;"><br>
            <div class="media">
                <div id="sticker">
                    <img id="book-cover"
                        src="https://pyxis.nymag.com/v1/imgs/110/c5d/f4a17ad810eb80011e22c44e14ba683e33-the-pull-of-the-stars-donoghue.rdeep-vertical.w245.jpg"
                        alt="..." style="box-shadow: 1px 7px 19px 0px #9a9a9a;"><br><br>
                    <span id="rating-1">
                        <img id="sticker" src="Group -4.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <span id="rating-2">
                        <img id="sticker" src="Group -3.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <span id="rating-3">
                        <img id="sticker" src="Group -2.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <p id="rating-name" style="margin-top: 10px;">Rating <span style="margin-left: 45px;">Rating</span>
                        <span style="margin-left: 45px;">Rating</span></p>
                </div>

                <!-- Mobile Responsive -->

                <div class="mob-about" style="padding-left: 10px;">
                    <h1 class="display-1">
                        <span id="bookname"> The Pull of the Stars </span>
                        <p id="author" style="padding-top: 5%;"> by Emma Donoghue </p>

                    </h1><br>
                    <p style="padding-bottom: 8%;">
                        <span id="amazon" style="margin-top: 0px;">amazon</span>
                        <span id="book-price">$28</span>
                    </p>
                    <span id="rating-01">
                        <img id="rating-img" src="Group -4.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem;">
                    </span>
                    <span id="rating-02">
                        <img id="rating-img" src="Group -3.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem; margin-left: 18px;">
                    </span>
                    <span id="rating-03">
                        <img id="rating-img" src="Group -2.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem; margin-left: 12px;">
                    </span>
                    <p id="ratingname" style="margin-top: 0px;">Rating <span style="margin-left: 18px;">Rating</span>
                        <span style="margin-left: 15px;">Rating</span></p>
                </div>

                <div class="media-body">

                    <!--Review!-->

                    <p>
                        <div class="jumbotron" id="book-quote">
                            <p>
                                <span id="quotation">“</spam>
                                    <span id="quote">Lorem ipsum dolor sit amet</span>
                                    <span id="quotation">”</spam>
                            </p>
                        </div>
                        <span id="review">Perhaps best known for The Room, a harrowing tale about a mother and son held
                            captive in a
                            small room for nearly a decade, Donoghue’s latest feels even more prescient. Set in Dublin
                            in 1918, as the
                            city is in the grip of one of the last great pandemics, the story follows a nurse in a
                            maternity ward over
                            three harrowing days.</span>
                    </p><br>
                    <p id="amazon">amazon</p>
                    <h1 id="book-price">$28</h1>
                    <div>
                        <button class="btn success"><b>Buy Now</b></button>
                        <button class="btn pdf"><b>PDF</b></button>
                    </div>
                </div>
            </div>
             <!-- mobile review -->
            <div class="mob-about">
                <p>
                    <br>
                    <div class="jumbotron" style="text-align: center;">
                        <p>
                            <span id="quote-mark">“</spam>
                                <span id="quotes">Lorem ipsum dolor sit amet</span>
                                <span id="quote-mark">”</spam>
                        </p>
                    </div><br>
                    <p id="review-mob">The comparisons tossed around for Emily Temple’s debut could hardly be more tantalizing. Chloe Benjamin called it “the love child of Donna Tartt and Tana French.” Others have compared Temple to Ottessa Moshfegh and Emma Cline. The story follows a 16-year-old girl whose father has disappeared, and her efforts to trace him to a strange meditation retreat in the mountains where the leaders promise to teach the art of levitation. </p><br>
                    <div style="text-align: center;">
                        <button class="btn success"><b>Buy Now</b></button>
                        <button class="btn pdf"><b>PDF</b></button>
                    </div><br>
            </div>
        <!-- <br> --><!-- <hr id="hr"> -->
            <div class="jumbotron" id="like">
                <i class="far fa-heart" style="font-size: 25px;"></i><!-- <i class="far fa-comment-alt"style="font-size: 25px; margin-left: 10px;"> --></i><i class="far fa-share"style="font-size: 25px; margin-left: 10px;"></i>
            </div>
        </div>
    </div><br>
    <br><br><br id="linebreak"><br id="linebreak"><br id="linebreak"><br>

        <!-- 
        <hr class="mob-about style-eight"> -->
       <br>
        <!-- <section class="mob-about" style="text-align: center; float: left;">
            <span class="counting-rank"> 6 </span>
        </section> -->
    <!--Book and Author Nane!-->
        <div class="container-2" id="post">
            <div class="about">
                <div class="jumbotron" id="postTop">
                    <span id="ranking">6</span>
                    <span id="bookname"> Self Care </span><br><span id="authorname"> by Leigh Stein </span>
                </div>
            </div>

        <!--Cover Image!-->
        <div class="mob-about" style="background-color: #e6e6e6">
            <h1 style="margin: 0px 25px 0px 25px; color: #000000; font-family: 'Cinzel', serif;">#6
            <span style="float: right;">
                <i class="far fa-heart" style="font-size: 25px;"></i><!-- <i class="far fa-comment-alt"style="font-size: 25px; margin-left: 10px;"></i> -->
                <i class="far fa-share"style="font-size: 25px; margin-left: 10px;"></i>
            </span>
            </h1>
        </div>

        <div style="padding-left: 4%; padding-right: 4%;"><br>
            <div class="media">
                <div id="sticker">

                    <img id="book-cover"
                        src="https://pyxis.nymag.com/v1/imgs/79f/0ac/dc38fffb7c0c1653eec167ab69c045e472-self-care-stein.rdeep-vertical.w245.jpg"
                        class="align-self-start mr-3" alt="..." style="box-shadow: 1px 7px 19px 0px #9a9a9a;"><br><br>
                    <span id="rating-1">
                        <img id="sticker" src="Group -4.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <span id="rating-2">
                        <img id="sticker" src="Group -3.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <span id="rating-3">
                        <img id="sticker" src="Group -2.png" class="align-self-start mr-3" alt="..."
                            style="width: 2.5rem; height: 2.5rem;">
                    </span>
                    <p id="rating-name" style="margin-top: 10px;">Rating <span style="margin-left: 45px;">Rating</span>
                        <span style="margin-left: 45px;">Rating</span></p>
                </div>

                <!-- Mobile Responsive -->

                <div class="mob-about" style="padding-left: 10px;">
                    <h1 class="display-1">
                        <span id="bookname"> Self Care </span>
                        <p id="author" style="padding-top: 5%;"> by Leigh Stein </p>

                    </h1><br>
                    <p style="padding-bottom: 8%;">
                        <span id="amazon" style="margin-top: 0px;">amazon</span>
                        <span id="book-price">$16</span>
                    </p>
                    <span id="rating-01">
                        <img id="rating-img" src="Group -4.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem;">
                    </span>
                    <span id="rating-02">
                        <img id="rating-img" src="Group -3.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem; margin-left: 18px;">
                    </span>
                    <span id="rating-03">
                        <img id="rating-img" src="Group -2.png" class="align-self-start mr-3" alt="..."
                            style="width: 2rem; height: 2rem; margin-left: 12px;">
                    </span>
                    <p id="ratingname" style="margin-top: 0px;">Rating <span style="margin-left: 18px;">Rating</span>
                        <span style="margin-left: 15px;">Rating</span></p>
                </div>

                <div class="media-body">

                    <!--Review!-->

                    <p>
                        <div class="jumbotron" id="book-quote">
                            <p>
                                <span id="quotation">“</spam>
                                    <span id="quote">Lorem ipsum dolor sit amet</span>
                                    <span id="quotation">”</spam>
                            </p>
                        </div>
                        <span id="review">The cover of Self Care features a Pepto-pink lotion bottle, sleek and rounded
                            for optimal
                            millennial aesthetic satisfaction, with black bile leaking from its pump. Its both a lure —
                            here’s more of
                            that smooth, pretty feminism you can pay to indulge in — and an indictment of the icky
                            tar-like bullshit
                            women are sold every time they swipe their phones open. Stein’s story is about a wellness
                            entrepreneur (a
                            founder of a women’s empowerment community called “Richual”) who fires off an ill-advised
                            swipe at a Trump
                            daughter and faces a backlash. It’s also a brutal dissection of “Insta-worthy” culture, the
                            unconscionable
                            capitalistic impulses behind wellness ventures, and the farce of forced community
                            building.</span>
                    </p><br>
                    <p id="amazon">amazon</p>
                    <h1 id="book-price">$16</h1>
                    <div>
                        <button class="btn success"><b>Buy Now</b></button>
                        <button class="btn pdf"><b>PDF</b></button>
                    </div>
                </div>
            </div>
             <!-- mobile review -->
            <div class="mob-about">
                <p>
                    <br>
                    <div class="jumbotron" style="text-align: center;">
                        <p>
                            <span id="quote-mark">“</spam>
                                <span id="quotes">Lorem ipsum dolor sit amet</span>
                                <span id="quote-mark">”</spam>
                        </p>
                    </div><br>
                    <p id="review-mob">The comparisons tossed around for Emily Temple’s debut could hardly be more tantalizing. Chloe Benjamin called it “the love child of Donna Tartt and Tana French.” Others have compared Temple to Ottessa Moshfegh and Emma Cline. The story follows a 16-year-old girl whose father has disappeared, and her efforts to trace him to a strange meditation retreat in the mountains where the leaders promise to teach the art of levitation. </p><br>
                    <div style="text-align: center;">
                        <button class="btn success"><b>Buy Now</b></button>
                        <button class="btn pdf"><b>PDF</b></button>
                    </div><br>
            </div>
        <!-- <br> --><!-- <hr id="hr"> -->
            <div class="jumbotron" id="like">
                <i class="far fa-heart" style="font-size: 25px;"></i><!-- <i class="far fa-comment-alt"style="font-size: 25px; margin-left: 10px;"> --></i><i class="far fa-share"style="font-size: 25px; margin-left: 10px;"></i>
            </div>
        </div>
    </div><br>
    <br><br><br><br id="linebreak"><br id="linebreak"><br>


        </div>
    </div>
    </div>

    </div><br><br>
    </span>
    </span>
    </p>
    </div>
    </p>
    </div>



    <!-- Footer -->
  <!-- Site footer -->
<!--     <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="#">C</a></li>
              <li><a href="#">UI Design</a></li>
              <li><a href="#">PHP</a></li>
              <li><a href="#">Java</a></li>
              <li><a href="#">Android</a></li>
              <li><a href="#">Templates</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">BooksLord</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer> -->
    <!-- <footer>
        <div class="footer-container" id="direction">
            <div class="left-col">
                <img src="Group 44.png" class="logo">
                <div class="social-media">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <p class="rights-text">© bookslord.com</p>
            </div>

            <div class="right-col">
                <h1>Our Newsletter</h1><br>
                <div class="border"></div>
                <p style="margin-top: 20px;">Enter Your Email to get our news and updates.</p><br>
                <form action="" class="newsletter-form">
                    <input type="text" class="txtb" placeholder="Enter Your Email">
                    <input type="submit" class="btn-letter" value="submit">
                </form>
            </div>
        </div>
    </footer> -->




    <div class="jumbotron" id="footer">
    <!-- <span >
      <img src="Group 44.png" style="height: 5%; width: 10%;" id="footer-heading">

    </span> -->
    <table id="footer-menu"><br>
      <tr>
        <td>Contact Us</td>
        <td style="padding-left: 35%;">About</td>
        <form id="email">
          <label style="padding-left: 5%;">Subscribe for Newsletter</label>
          <input type="text" name="firstname" placeholder="Your email.."
            style="margin-left: 10px; font-size: 12px; color: #ffffff; margin-top: 0px;">
          <input type="submit" value="Subscribe">
        </form>
      </tr>
    </table>
    
    <hr><br>
    <section id="footer-menu">
      <span style="line-height: 30px;">A Part of Hearst Digital Media ELLE participates in various affiliate
        marketing programs, which means we may get paid commissions on editorially chosen products purchased through our
        links to retailer sites. </span>
    </section>
    <!-- <span style="text-align: center; padding-left: 7%; font-size: 30px;">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-twitter"></i>
    </span><br><br><br> -->
  </div>
   <div class="container site-footer">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">BooksLord</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>



    <!-- NavBar JS -->

    <script type="text/javascript">

      var prevScrollpos = window.pageYOffset;
      window.onscroll = function() {

      var currentScrollpos = window.pageYOffset;
      if(prevScrollpos > currentScrollpos) {
            document.getElementById("navbar").style.top = "0";
      } else {
            document.getElementById("navbar").style.top = "-100px";
      }

      prevScrollpos = currentScrollpos;

      }

    </script>

</body>

</html>